// Font variables
$font-heading: 'Josefin Sans', sans-serif;
$font-text: 'Poppins', sans-serif;

// Color variables
$color-body: #f1f1f1;
$color-white: #fff;

// Padding
$padding: 1.5rem;

// utilities
$transition-hover: all 0.15s linear;
